[Unit]
Description=App Template
After=network.target
RequiresMountsFor=/mnt/data

[Service]
Type=simple
User=dhughes
WorkingDirectory=/mnt/data/apps/app-template
ExecStart=/mnt/data/apps/app-template/venv/bin/python app.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
